<br/><br/><br/>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>Create Business Account</h3>
            <h4>Referral Relationship Management (RRM) is a cloud-based system that helps your business manage, track and
                attract referrals from your partners and referrers</h4>

            <h4>And registration is Free!</h4>


        </div>
        <div class="col-md-4">
            {{> register-form}}
        </div>
    </div>
</div>