<br/><br/><br/>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well">
                <h3>Create an Account</h3>
                <hr/>
                <h4>In this great App and you will be able to:</h4>
                <ul>
                    <li>First great feature</li>
                    <li>Second great feature</li>
                    <li>Third great feature</li>
                </ul>
                <br />
                <h5>... and it's absolutely Free!</h5>
            </div>
        </div>
        <div class="col-md-4">
            {{> register-form}}
        </div>
    </div>
</div>