<ul class="nav nav-sidebar">
    <li class="{{#ifCond 'dashboard' '==' view.path}}active{{/ifCond}}">
        <a href="/dashboard">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            Dashboard
        </a>
    </li>
</ul>
